@use 'sass:meta';
@use 'libs/skel' as skel;

@import-normalize;

@include meta.load-css('libs/vars');
@include meta.load-css('libs/functions');
@include meta.load-css('libs/mixins');
@include meta.load-css('libs/skel');

@include skel.skel-breakpoints(
  (
    xlarge: '(max-width: 1680px)',
    large: '(max-width: 1280px)',
    medium: '(max-width: 980px)',
    small: '(max-width: 736px)',
    xsmall: '(max-width: 480px)',
  )
);

@include skel.skel-layout(
  (
    reset: 'full',
    boxModel: 'border',
    grid: (
      gutters: 1em,
    ),
  )
);

// Base.
@include meta.load-css('base/page');
@include meta.load-css('base/typography');
@include meta.load-css('base/light-dark-theme.scss');

// Component.
@include meta.load-css('components/author');
@include meta.load-css('components/blurb');
@include meta.load-css('components/box');
@include meta.load-css('components/button');
@include meta.load-css('components/form');
@include meta.load-css('components/icon');
@include meta.load-css('components/image');
@include meta.load-css('components/list');
@include meta.load-css('components/mini-post');
@include meta.load-css('components/post');
@include meta.load-css('components/section');
@include meta.load-css('components/table');
@include meta.load-css('components/hamburger');
@include meta.load-css('components/markdown');

// Layout.
@include meta.load-css('layout/header');
@include meta.load-css('layout/wrapper');
@include meta.load-css('layout/main');
@include meta.load-css('layout/sidebar');
@include meta.load-css('layout/intro');
@include meta.load-css('layout/footer');
@include meta.load-css('layout/menu');

@include meta.load-css('pages/contact');
@include meta.load-css('pages/notFound');
@include meta.load-css('pages/resume');
@include meta.load-css('pages/skills');
@include meta.load-css('pages/stats');
