# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/" # Location of package manifest
    schedule:
      interval: "weekly"
      day: "monday"
      time: "12:00"
      timezone: "Europe/Budapest"
    groups:
      react:
        patterns:
          - "react"
          - "react-dom"
    open-pull-requests-limit: 15
    labels:
      - "dependencies"
      - "automated"
    commit-message:
      prefix: "chore"
      include: "scope"
    reviewers:
      - "sassdavid"
    assignees:
      - "sassdavid"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "12:00"
      timezone: "Europe/Budapest"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "github-actions"
      - "automated"
    commit-message:
      prefix: "chore(ci)"
    reviewers:
      - "sassdavid"
    assignees:
      - "sassdavid"
