[tools]
fd = "latest"
node = "24"

[env]
NEXT_PUBLIC_GOOGLE_ANALYTICS = ""
NEXT_PUBLIC_NUMBER_OF_LINES = "1879"
NEXT_PUBLIC_MDX_DETAILS_ABOUT = "834 words (5 min read)"

[tasks.ci]
alias = "ci"
description = "Install npm dependencies with npm ci"
depends = ["utils:nroflines", "utils:nrofwordsandtime"]
run = "npm ci"

[tasks.install]
alias = "i"
description = "Install npm dependencies"
run = "npm install"

[tasks.build]
alias = "b"
description = "Build the project"
run = ["npm run build"]

[tasks.format]
alias = "f"
description = "Format project files"
run = "npm run format"

[tasks.test]
alias = "t"
description = "Run tests"
run = "npm test"
