@use '../libs/skel' as skel;
@use '../libs/functions' as functions;

/* Basic */

// Ensures page width is always >=320px.
@include skel.breakpoint(xsmall) {
  html,
  body {
    min-width: 320px;
  }
}

body {
  background: functions.palette(bg-alt);

  // Prevents animation/transition "flicker" on page load.
  // Automatically added/removed by js/main.js.
  &.is-loading {
    *,
    *:before,
    *:after {
      @include skel.vendor('animation', 'none !important');
      @include skel.vendor('transition', 'none !important');
    }
  }
}

.displayInDark {
  display: var(--displayInDark);
}

.displayInLight {
  display: var(--displayInLight);
}
