@use '../libs/mixins' as mixins;
@use '../libs/skel' as skel;
@use '../libs/functions' as functions;

/* Form */

form {
  margin: 0 0 functions.size(element-margin) 0;
}

label {
  color: functions.palette(fg-bold);
  display: block;
  font-size: 0.9em;
  font-weight: functions.font(weight-bold);
  margin: 0 0 (functions.size(element-margin) * 0.5) 0;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
select,
textarea {
  @include skel.vendor('appearance', 'none');
  background: functions.palette(border-bg);
  border: none;
  border: solid 1px functions.palette(border);
  border-radius: 0;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;

  &:invalid {
    box-shadow: none;
  }

  &:focus {
    border-color: functions.palette(accent);
    box-shadow: inset 0 0 0 1px functions.palette(accent);
  }
}

input[type='text'],
input[type='password'],
input[type='email'],
select {
  height: functions.size(element-height);
}

textarea {
  padding: 0.75em 1em;
}

input[type='checkbox'],
input[type='radio'] {
  @include skel.vendor('appearance', 'none');
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;

  & + label {
    @include mixins.icon;
    color: functions.palette(fg);
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: functions.font(weight);
    padding-left: (functions.size(element-height) * 0.6) + 0.75em;
    padding-right: 0.75em;
    position: relative;

    &:before {
      background: functions.palette(border-bg);
      border: solid 1px functions.palette(border);
      content: '';
      display: inline-block;
      height: (functions.size(element-height) * 0.6);
      left: 0;
      line-height: (functions.size(element-height) * 0.575);
      position: absolute;
      text-align: center;
      top: 0;
      width: (functions.size(element-height) * 0.6);
    }
  }

  &:checked + label {
    &:before {
      background: functions.palette(fg-bold);
      border-color: functions.palette(fg-bold);
      color: functions.palette(bg);
      content: '\f00c';
    }
  }

  &:focus + label {
    &:before {
      border-color: functions.palette(accent);
      box-shadow: 0 0 0 1px functions.palette(accent);
    }
  }
}

input[type='radio'] {
  & + label {
    &:before {
      border-radius: 100%;
    }
  }
}

::placeholder {
  color: functions.palette(fg-light) !important;
  opacity: 1;
}
