@use '../libs/mixins' as mixins;

/* Icon */

.icon {
  @include mixins.icon;
  border-bottom: none;
  position: relative;

  > .label {
    display: none;
  }

  &.suffix {
    &:before {
      float: right;
    }
  }
}
