@use '../libs/mixins' as mixins;
@use '../libs/skel' as skel;
@use '../libs/functions' as functions;

/* List */

ol {
  list-style: decimal;
  margin: 0 0 functions.size(element-margin) 0;
  padding-left: 1.25em;

  li {
    padding-left: 0.25em;
  }
}

ul {
  list-style: disc;
  margin: 0 0 functions.size(element-margin) 0;
  padding-left: 1em;

  li {
    padding-left: 0.5em;
  }

  &.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 0 1em 0 0;

      &:last-child {
        padding-right: 0;
      }

      > * {
        @include mixins.icon;
        border: 0;

        .label {
          display: none;
        }
      }
    }
  }

  &.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 0 (functions.size(element-margin) * 0.75) 0 0;
      vertical-align: middle;

      &:last-child {
        padding-right: 0;
      }
    }

    @include skel.breakpoint(xsmall) {
      margin: 0 0 functions.size(element-margin) 0;

      li {
        padding: (functions.size(element-margin) * 0.5) 0 0 0;
        display: block;
        text-align: center;
        width: 100%;

        &:first-child {
          padding-top: 0;
        }

        > * {
          width: 100%;
          margin: 0 !important;

          &.icon {
            &:before {
            }
          }
        }
      }

      &.small {
        li {
          padding: (functions.size(element-margin) * 0.25) 0 0 0;

          &:first-child {
            padding-top: 0;
          }
        }
      }
    }
  }
}

dl {
  margin: 0 0 functions.size(element-margin) 0;

  dt {
    display: block;
    font-weight: functions.font(weight-bold);
    margin: 0 0 (functions.size(element-margin) * 0.5) 0;
  }

  dd {
    margin-left: functions.size(element-margin);
  }
}
