@use '../libs/functions' as functions;

/* Table */

table {
  margin: 0 0 functions.size(element-margin) 0;
  width: 100%;

  tbody {
    tr {
      border: solid 1px functions.palette(border);
      border-left: 0;
      border-right: 0;

      &:nth-child(2n + 1) {
        background-color: functions.palette(border-bg);
      }
    }
  }

  td {
    padding: 0.75em 0.75em;
  }

  th {
    color: functions.palette(fg-bold);
    font-size: 0.9em;
    font-weight: functions.font(weight-bold);
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
  }

  thead {
    border-bottom: solid 2px functions.palette(border);
  }

  tfoot {
    border-top: solid 2px functions.palette(border);
  }
}
