@use '../libs/skel' as skel;
@use '../libs/functions' as functions;

#menu {
  @include skel.vendor('transform', 'translateX(#{functions.size(menu)})');
  @include skel.vendor('transition', ('transform #{functions.duration(menu)} ease', 'visibility #{functions.duration(menu)}'));
  -webkit-overflow-scrolling: touch;
  background: functions.palette(bg);
  border-left: solid 1px functions.palette(border);
  box-shadow: none;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: functions.size(menu);
  z-index: functions.misc(z-index-base) + 2;

  > * {
    border-top: solid 1px functions.palette(border);
    padding: functions.size(section-spacing);

    > :last-child {
      margin-bottom: 0;
    }
  }

  > :first-child {
    border-top: 0;
  }

  .links {
    list-style: none;
    padding: 0;

    > li {
      border: 0;
      border-top: dotted 1px functions.palette(border);
      margin: 1.5em 0 0 0;
      padding: 1.5em 0 0 0;

      a {
        display: block;
        border-bottom: 0;

        h3 {
          @include skel.vendor('transition', 'color #{functions.duration(transition)} ease');
          font-size: 0.7em;
        }

        p {
          font-family: functions.font(family-heading);
          font-size: 0.6em;
          font-weight: functions.font(weight-heading);
          letter-spacing: functions.font(kerning-heading);
          letter-spacing: functions.size(letter-spacing-alt);
          margin-bottom: 0;
          text-decoration: none;
          text-transform: uppercase;
        }

        &:hover {
          h3 {
            color: functions.palette(accent);
          }
        }
      }

      &:first-child {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
      }
    }
  }

  body.is-menu-visible & {
    @include skel.vendor('transform', 'translateX(0)');
    visibility: visible;
  }

  @include skel.breakpoint(small) {
    > * {
      padding: functions.size(section-spacing-small);
    }
  }
}
